body
{
  background-color:lightgreen;
}

div.circle
{
text-align: center;
width:200px;
border-radius:200px;
height:200px;
 
position: absolute;
animation-timing-function:linear;
animation-fill-mode:forwards;
animation-name: ball;
animation-duration: 30s;
}

#c1
{
animation-delay: 0s;
}

#c2
{
animation-delay: 3s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes ball {
0%   { left:-10px; top:-25px;}
10%  { left:361px; top:346px;}
20%  { left:732px; top:-25px;}
28%  { left:1029px; top:272px;}
30%  { left:955px; top:346px;}
40%  { left:548px; top:-25px;}
50%  { left:177px; top:346px;}
55%  { left:-10px; top:159px;}
60% { left:174px; top:-25px;}
70% { left:545px; top:346px;}
80% { left:916px; top:-25px;}
83% { left:1029px; top:88px;}
90% { left:771px; top:346px;}
100% { left:400px; top:-25px;}
}

/* Standard syntax */
@keyframes ball {
0%   { left:-10px; top:-25px;}
10%  { left:361px; top:346px;}
20%  { left:732px; top:-25px;}
28%  { left:1029px; top:272px;}
30%  { left:955px; top:346px;}
40%  { left:548px; top:-25px;}
50%  { left:177px; top:346px;}
55%  { left:-10px; top:159px;}
60% { left:174px; top:-25px;}
70% { left:545px; top:346px;}
80% { left:916px; top:-25px;}
83% { left:1029px; top:88px;}
90% { left:771px; top:346px;}
100% { left:400px; top:-25px;}
}





