body
{
  background-color:lightgreen;
}

div.circle
{
text-align: center;
width:200px;
border-radius:200px;
height:200px;
 
position: relative;
animation-name: ball;
animation-duration: 20s;
animation-iteration-count: infinite;
}

#c1
{
animation-delay: 0s;
}

#c2
{
animation-delay: 3s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes ball {
0%   { left:-10px; top:-25px;}
12%  { left:361px; top:346px;}
25%  { left:732px; top:-25px;}
37%  { left:1029px; top:272px;}
50%  { left:955px; top:346px;}
62%  { left:548px; top:-25px;}
75%  { left:177px; top:346px;}
87% { left:-10px; top:159px;}
100% { left:-10px; top:-25px;}
}

/* Standard syntax */
@keyframes ball {
0%   { left:-10px; top:-25px;}
12%  { left:361px; top:346px;}
25%  { left:732px; top:-25px;}
37%  { left:1029px; top:272px;}
50%  { left:955px; top:346px;}
62%  { left:548px; top:-25px;}
75%  { left:177px; top:346px;}
87% { left:-10px; top:159px;}
100% { left:-10px; top:-25px;}
}





