body
{
  background-color:lightgreen;
}

div
{
text-align: center;
width:200px;
border-radius:200px;
height:200px;
 
position: relative;
animation-name: example;
animation-duration: 10s;
animation-iteration-count: infinite;


}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
0%   { left:-10px; top:-23px;}
25%  { left:360px; top:347px;}
50%  { left:730px; top:-23px;}
75%  { left:1027px; top:272px;}
100% { left:-10px; top:-23px;}
}

/* Standard syntax */
@keyframes example {
0%   { left:-10px; top:-23px;}
25%  { left:360px; top:347px;}
50%  { left:730px; top:-23px;}
75%  { left:1027px; top:272px;}
100% { left:-10px; top:-23px;}
}





